@model BangazonSiteMVC.Models.PaymentType

<div>
    <h4>PaymentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
