@model BangazonSiteMVC.Models.Order

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<div>
    <h4>Order</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.CardType)
        </dd>

    </dl>
    @{ 
        foreach (var item in Model.LineItems)
        {
            Html.RenderPartial("OrderLineItems", item);
        }
    }*@

    <table>
        @foreach (var item in Model.LineItems)
        {
            @Html.Partial("OrderLineItems", item);
            <tr>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderLineItemId })
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
